html{
    background-color: #ccc;
}

#login-form {
    border: 0.5vw solid #f1f1f1;
    padding: 2vw;
    background-color: white;
    text-align: center;
    margin: 8%;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
}
#showpass {
    float: right;
    width: 8%;
    padding: 8px 0;
    margin: 1vw 1vw;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #584D3D;
    color: white;
    font-size: 20px;
}

button {
    background-color: #309ed9;
    color: white;
    padding: 1.5vw 1.5vw;
    margin: 1vw 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.8;
}

#errors {
    background-color: #d93041;
    color: #e0dfe6;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-line;
}

.pw {
    display:flex;
    align-items:center;
    justify-content:center;
}