*, *::before, *::after {
    box-sizing: border-box;
}
.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}
.section-title {
    font-size: 2.25rem;
    text-align: center;
}
section {
    /* background: #05A8AA; */
    padding-block: 5rem;
}
.diagonal {
    position: relative;
    
}
.diagonal::after {
    content: '';background-image: 
    linear-gradient(
        30deg,
        #05A8AA,
        #9A7197,
        #886176
    );
    position: absolute;
    inset: 0;
    transform: skewY(-3deg);
    z-index: -1;
}
.section-desc {
    margin-right: auto;
    margin-left: 0;
}

@font-face {
    font-family: 'Sawarabi Gothic';
    src: url("/SawarabiGothic-Regular.ttf");
}

body {
    background-color: #050721;
    font-family: 'Sawarabi Gothic', Verdana, Geneva, Tahoma, sans-serif;
    /* margin:0; */
    color: white;
}
.link {
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
}
button{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: whitesmoke;
    font-family: 'Sawarabi Gothic';
}
button:hover{
    background-color: yellow;
}
#github:hover{
    filter: invert(0.3);
}
#github {
    position: absolute;
    right: 8px;
    top: 8px;
    display: block;
}
header {
    /* position: sticky; */
    top: 0;
}
#active {
    text-decoration: underline;
    text-decoration-thickness: 20%;
    text-decoration-color: #05A8AA;
}
.not {
    text-decoration: none;
}

a {
    color: aquamarine;
}