/* @font-face { font-family: Fira Code; src: url('Delicious-Roman.otf'); }  */

html {
    background-color: #aaaebf;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #aaaebfbb;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 86%;
    height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    float: right;
    /* font-size: 28px; */
    font-weight: bolder;
    color: #F06449;
    font-size: 3em;
}

.close:hover {
    color: #fd927d;
    text-decoration: none;
    cursor: pointer;
}

.chal_name {
    font-family: 'Fira Code', serif;
    font-weight: light;
}

.modal-header {
    padding: 2px 16px;
    background-color: #dadad9;
    color: #07070a;
    /* font-family: 'Fira Code', serif;
    font-weight: light; */
    /* font-size: 2vw; */
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #dadad9;
    color: #07070a;
}

.modal-button {
    padding: 2px;
    margin: 10px;
    width: 15vw;
    height: 15vw;
    border-color: #b5c4c4;
    border-radius: 8px;
    background-color: #EDE6E3;
    box-shadow: none;
    display: inline-block;
    /* font-weight: bolder; */
    font-family: 'Fira Code', serif;
    font-size: 1.5vw;
}
.modal-button:hover,
.modal-button:focus {
    background-color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.flag-sub {
    width: 50vp;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

a,
a:visited {
    /* font-weight: bold; */
    color: #192A51;
}

.flag-btn {
    background-color: #00635D;
    color: #EDE6E3;
    border-radius: 8px;
    width: 10vw;
    height: 4vw;
}

.flag-btn:hover {
    background-color: #00A398;
}
.flag-sub {
    width: 40%;
    float: left;
    padding: 20px;
}

.hint-button {
    background-color: #00635D;
    color: #EDE6E3;
    border-radius: 8px;
    width: 3vw;
    height: 3vw;
}

.hint {
    display: none;
    margin-left: auto;
    margin-right: 0;
    font-size: 100%;
    font-weight: lighter;
    margin: 0 auto;
    /* padding: 10px; */
}
.hints {
    border: #6D676E;
}

